{{#unless editingTitle}}
  <h1 class='page-title' {{action "editTitle"}}>{{model.title}}</h1>
{{else}}
  {{input-autofocus
    value=model.title
    autofocus="autofocus"
    enter="saveTitle"
    focus-out="saveTitle"
  }}
{{/unless}}

{{#link-to 'todo-list' model}}
  Back
{{/link-to}}

{{#each model.groups as |group|}}
  {{todo-group-edit group=group action="createTodoItem"}}
{{/each}}
<h2>
  {{input
    type="text"
    id="new-todo-group"
    placeholder="Create a new group"
    value=newGroupTitle
    enter="createTodoGroup"
  }}
</h2>
